#contact {
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}

/* #form-box {
  margin: auto;
  width: 30%;
  padding: 30px 0;
  background-color: blanchedalmond;
  border: solid;
  border-width: thin;
  border-radius: 4px;
} */