#footer {
  padding: 3em;
  padding-left: calc(100vw - 100%);
  background-color: lightgoldenrodyellow;
  font-size: 12px;
  text-align: start;
}

#textbox {
  width: 100em;
  margin: auto;
}

#copyright {
  color: gray;
}

#disclaimer {
  font-size: larger;
  font-style: italic;
}

.otherInfo {
  font-size: smaller;
  text-align: center;
}
